ExportOffice/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4241/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExportOffice.Web" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoExportExcel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExportOffice.Web" minOccurs="0" name="facts" nillable="true" type="q1:ArrayOfFactModel" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ExportOffice.Web" minOccurs="0" name="headersList" nillable="true" type="q2:ArrayOfColumns" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoExportExcelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoExportExcelResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUploadFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoUploadFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoUploadFileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoExportWord">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoExportWordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoExportWordResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>